{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WedDay 08.07.2016</title>


    <link href="{% static "css/fonts.css" %}" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/business-casual.css" %}" rel="stylesheet">
    <link href="{% static "css/custom-invite.css" %}" rel="stylesheet">

    <!-- Fonts 
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://allfont.ru/allfont.css?fonts=popularscript" rel="stylesheet" type="text/css" />
    -->
    <!-- Plugins -->
    <link href="{% static "plugins/fontawesome/css/font-awesome.css" %}" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" href="{%  static 'favicon1.png' %}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <nav class="navbar navbar-default navbar-custom" style="z-index:2000" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="border-color:#627998">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar" style="background-color:#627998"></span>
                    <span class="icon-bar" style="background-color:#627998"></span>
                    <span class="icon-bar" style="background-color:#627998"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand menu" style="color:#627998">Меню</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#place">Место торжества</a>
                    </li>
                    <li>
                        <a href="#participation">Участие</a>
                    </li>
                    <li>
                        <a href="#contacts">Контакты</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <header class="default">
        <div class="row" style="height:100%">
            <div class="col-md-6 col-md-offset-3 center login_bg" style="height:100%;padding-right:0;padding-left:0">
                <div class="bannerText">
                    <h1 style="text-align: center;">Мы приглашаем вас на нашу свадьбу <br>8 июля 2016 года</h1>
                </div>
            </div>
        </div><!-- Row -->
    </header>

    <section id='place' class="full">
        <div class="row" id="place-row" style="height:100%">
            <div id="place_discr" class="col-md-5 col-md-offset-1 col-same-height" >
                <div id="place_discr_bg" ;
>
                <h3>Банкет</h3>
                <!-- <div style="" class="row">
                     <div style="" class="col-md-6 col-md-offset-3 center">
                         <div style="text-align:center;">
                         <div style="display:inline-block">
                                     <h4 style="display:inline-block"><span class="icon shortcode theme " style="">4</span>
                                     <br>16:00<br>24:00</h4>
                         </div>
                         <div style="display:inline-block">
                                     <h4 style="display:inline-block"><span class="icon shortcode theme " style="">É</span>
                                     <br>Пт , 8 Июля<br>2016</h4>
                         </div>
                        </div>
                     </div>
                 </div> -->
                <h4>Праздничный банкет состоится в 16:00 8 июля 2016 года <br> 
                    в шатре на набережной в Коломенском парке.<br>
                     <br>
                     На карте отмечен путь от ближайшей <br> 
                     станции метро Коломенская<br>
                     (первый вагон из центра, выход к кинотеатру "Орбита", <br>
                     из стеклянных дверей налево, далее в переходе направо)<br>
                    <br>
                     С - кинотеатр "Орбита"<br>
                     В - ближайшая бесплатная парковка<br>
                     А - непосредственно шатер
                     <br>
                     <br>
                    <a href="https://yandex.ru/maps/-/CVTSF6Zg">Ссылка на Yandex карты</a></h4>
                </div>
            </div>

            <div id="place_map" class="col-md-5 col-same-height"  style="height:100%;padding-right:0;padding-left:0">
                <img id="map_img"  width="100%"  src="https://maps.googleapis.com/maps/api/staticmap?center=55.673913,37.670656&zoom=15&amp;size=500x450&amp;scale=2&amp;maptype=roadmap&amp;markers=size:mid|label:A|color:0x627998|55.670773,37.679057&amp;markers=size:mid|label:B|color:0x627998|55.675338,37.678245&amp;markers=size:mid|label:C|color:0x627998|55.676280, 37.665503&amp;path=color:0x627998|weight:2|55.677023,37.664409|55.676929,37.667035|55.676694,37.669758|55.676112, 37.676509|55.674635, 37.676432|55.674173, 37.677987|55.673537, 37.678600|55.672527, 37.679337|55.671506, 37.679254|55.670995, 37.678856">
            </div>
        </div><!-- Row -->
    </section>


    <section id='participation' class="full">

        <div class="row" style="height:100%">
            <div class="col-md-4 col-md-offset-4 center rsvp_bg" style="min-height:100vh;padding-right:0;padding-left:0">
                <form  id="invite_form" class="invite_form" method="post">
                    {% csrf_token %}
                    </table>
                    <h2>Придете ли Вы на нашу свадьбу?</h2>

                    <div style="padding-bottom:20px;display:table;margin-left:auto;margin-right:auto" class="row">
                        <div style="margin-left:0" class="col-md-6 col-md-offset-3 center">
                            <div class="input-group">
                                <span class="input-group-btn form_span" style="display:-webkit-box">
                                    <button id="yes" class="btn_add_guest btn_in_span y_n_btn yes_no_active" name="username" type="button"  data-value="no">
                                        ДА
                                    </button>
                                    <button id="no" class="btn_add_guest btn_in_span y_n_btn" name="username" type="button"  data-value="no">
                                        НЕТ
                                    </button>
                               </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <input autocomplete="off" id="name" name="name" type="text" class="form-control form_input"  placeholder="Имя Фамилия">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <input autocomplete="off" id="email" name="email" type="text" class="form-control form_input" placeholder="Email">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <textarea autocomplete="off" id="comment" style="margin-bottom:0" name="comment" type="text" class="form-control form_input" placeholder="Комментарии"></textarea>
                        </div>
                    </div>

                    <h2>Вы придете с парой?</h2>

                    <div style="padding-bottom:20px" class="row">
                        <div class="col-md-6 col-md-offset-3 center">
                            <div class="input-group">
                                <input autocomplete="off" id="guest_name" type="text" class="form-control form_input_1"  placeholder="Имя Фамилия">
                                <span class="input-group-btn form_span">
                                    <button id="add_guest" class="btn_add_guest btn_in_span" name="username" type="button"  data-value="no" required>
                                        <i class="fa fa-plus">
                                        </i>
                                    </button>
                               </span>
                            </div>
                        </div>
                    </div>
                    <div  class="row">
                        <div id="guests" class ="col-md-6 col-md-offset-3 center">

                        </div>
                    </div>


                    <div id="g_yes" class="row" style="text-align:center;display:none;margin-top:0;margin-bottom:0">
                        <h2 class="thanks">Спасибо, ждем Вас!</h2>
                    </div>
                    <div id="g_no" class="row" style="text-align:center;display:none;margin-top:0;margin-bottom:0">
                        <h2 class="thanks">Спасибо, очень жаль, что Вы не придете!</h2>
                    </div>


                    <button id="submit_invite" class="btn_submit">ОТПРАВИТЬ</button>
                </form>
            </div>
        </div><!-- Row -->
    </section>


    <section id='contacts' class="full">
        <div class="row" id="contacts-outer-row" style="height:100%">
            <h6>В главных ролях:</h6>
            <div class="row">
                <div class="col-md-3">
                    <div class="col-md-8 col-md-offset-2 sv-div">
                        <h5>Свидетели жениха</h5>
                        <img class="portret"  src="{% static "img/sveta.png" %}">
                        <h5>Света</h5>
                        <img class="portret"  src="{% static "img/igor.png" %}">
                        <h5 style="padding-bottom:5vh">Игорь</h5>
                    </div>
                </div>




                <div class="col-md-6">
                    <div class="row inner-row">
                        <div class="col-md-6" >
                            <div class="contact-div col-md-12 la-div">
                                <h5>Жених и Невеста</h5>
                                <img class="portret"  src="{% static "img/we1.png" %}">
                                <h5>Алексей</h5>
                                <h4 style="padding-bottom:0">тел. +7-915-025-75-19</h4>
                                <h5>Анастасия</h5>
                                <h4>тел. +7-909-973-05-22</h4>
                            </div>
                        </div>
                        <div class="col-md-6" >
                            <div class="contact-div col-md-12 la-div">
                                <h5>Организатор</h5>
                                <img class="portret"  src="{% static "img/ella1.png" %}">
                                <h5>Элла</h5>
                                <h4>тел. +7-915-203-33-32</h4>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="col-md-8 col-md-offset-2 sv-div">
                        <h5>Свидетели невесты</h5>
                        <img class="portret"  src="{% static "img/jen2.png" %}">
                        <h5>Женя</h5>
                        <img class="portret"  src="{% static "img/andrey2.png" %}">
                        <h5 style="padding-bottom:5vh">Андрей</h5>
                    </div>
                </div>


            </div>
        </div><!-- Row -->
    </section>



    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>
    <!--      <script src="{% static "js/custom.js" %}"></script>
    -->



    <script src="{% static "plugins/jquery-validation/jquery.validate.js" %}"></script>
    <script src="{% static "plugins/jquery-validation/messages_ru.js" %}"></script>
    <script src="{% static "plugins/jquery-validation/integer.js" %}"></script>
    <script src="{% static "plugins/jquery-validation/url2.js" %}"></script>
    <script src="{% static "plugins/jquery-validation/lettersonly.js" %}"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/custom_invite.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>


</body>


</html>
